.ccls*
arduino/emitter_keyboard.part.c
arduino/kinesis_ps2codes_to_locations.map.h
keyboard-remap-jap
keyboard-remap-onemix
keyboard-remap-tablet
linux/cz_keys_to_locations.map.h
linux/jap_keys_to_locations.map.h
linux/onemix_keys_to_locations.map.h
linux/tablet_keys_to_locations.map.h
langs/cz.h
langs/ru.h
langs/mappings_generated.json
modes/modes.part.c
old/
result
