.ccls*
arduino/emitter_hidproject.part.c
arduino/kinesis_ps2codes_to_locations.map.h
keyboard-remap-jap
keyboard-remap-onemix
keyboard-remap-tablet
linux/jap_keys_to_locations.map.h
linux/onemix_keys_to_locations.map.h
linux/tablet_keys_to_locations.map.h
modes/modes.part.c
old/
